{% extends "@OCCore/layout.html.twig" %}

{% block title %} Annonces - {{ parent() }} {% endblock %}


{% block body %}
  <body>
    <div class="container">
      <div id="header" class="jumbotron">
        <h1>Le Tchat!</h1>
        <p> projet fait sous Symfony 3!</p>
        <p>
          <a class="btn btn-primary btn-lg" href="https://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony">
            Cours OC!
          </a>
        </p>
      </div>

      <div class="row">
        <div id="menu" class="col-md-3">
          <h4>Page non disponible pour le moment!</h4>
        </div>
        <div id="content" class="col-md-9">

{% endblock %}