{% extends "@OCPlatform/layout.html.twig" %}

{% block title %}Modifier l'Annonce - {{ parent() }}{% endblock %} 

{% block ocplatform_body %}

    <h3>Modifier l'annoncew</h3>

    {{ include("@OCPlatform/Advert/form.html.twig") }}

    <p>Edition en cours</p>

    <p>
        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'annonce
        </a>
    </p>
{% endblock %}